$color:white;
$fontColor : black;
h1{margin:0 0 20px;}
body{padding:20px; box-sizing:border-box;}
li{margin:5px 0 0; font-size:18px;}
p{margin:10px 0 0; font-size:15px;}
li:before{content:'★'; margin-right:5px;}
input{padding:5px; margin-right:5px;}